#web_bg {
    /* webkit内核 5.1 - 6.0 */
    background: -webkit-linear-gradient(left, #49b0f525, #49b0f525);
    /* Opera 11.1 - 12.0 */
    background: -o-linear-gradient(right, #49b0f525, #49b0f525);
    /* Firefox 3.6 - 15 */
    background: -moz-linear-gradient(right, #49b0f525, #49b0f525);
    /* 标准的语法 */
    background: linear-gradient(to right, #49b0f525, #49b0f525);
  }